<div class="w-[90%] my-[80px] mx-auto">

  <h1 class="text-center mb-[25px] text-[#2c3e50] text-[28px] font-semibold">Company Leave Policy</h1>

  <div class="policy-card">

    <h2>📌 Types of Leave</h2>
    <ul>
      <li><strong>Sick Leave:</strong> For health-related issues.</li>
      <li><strong>Casual Leave:</strong> For personal work or short breaks.</li>
      <li><strong>Earned Leave:</strong> Accumulated leave for long vacations.</li>
    </ul>
  </div>

  <div class="policy-card">
    <h2>📅 Leave Entitlement</h2>
    <ul>
      <li>12 Casual Leaves per year</li>
      <li>10 Sick Leaves per year</li>
      <li>12 Earned leaves per year, unused leaves can be carried forward</li>
    </ul>
  </div>

  <div class="policy-card">
    <h2>📝 Leave Application Rules</h2>
    <ul>
      <li>Apply at least 2 days in advance (except emergencies)</li>
      <li>Provide valid reason for leave</li>
      <li>Manager approval is mandatory</li>
    </ul>
  </div>

  <div class="policy-card">
    <h2>⚠️ Important Notes</h2>
    <ul>
      <li>Unapproved leaves may lead to salary deduction</li>
      <li>Fake reasons can lead to disciplinary action</li>
    </ul>
  </div>

</div>